.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.input input:focus {
  outline: none;
  border-color: #4f005f;
}

.input input:hover {
  background-color: #fceaff;
}

.input button {
  width: 15%;
  background-color: rgb(123, 26, 147);
  color: white;
  border: none;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
